<%= @new_contact.first_name %>
<%= @new_contact.last_name %>
<br>
<%= @new_contact.company %>
<br>
<%= @new_contact.job_title %>
<hr>

<a href="/address_form">Add Address</a>
<br>
<a href="/email_form">Add Email</a>
<br>
<a href="/phone_form">Add Phone Number</a>
<br>
<a href="/add_contact">Add Another Contact</a>
<hr>
<a href="/">Home</a>
