<h1>Contact List</h1>
<ul>
  <% @all_contacts.each() do |contact| %>
    <li><a href="/contact_details/<%= contact.id() %>"><%= contact.first_name() + contact.last_name() %></a></li>
  <% end %>
</ul>

<a href="/">Home</a>
<a href="/contact_list">See Contact List</a>
<a href="/add_contact">Add New Contact</a>
